html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    list-style: none;
    background-size: cover;
    background-image: url("homepageimage.jpg");
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    position: sticky;
}
.logo
{
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 32px;
    padding-left: 60px;
    padding-right:60px;
    color: black;
}
nav ul
{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
nav ul li
{    
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s;
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.hover:hover
{
    transform: translateY(-0.17em);   
}
.main
{
    width: 30%;
    margin-left: 10%;
    margin-top: 70px;
    font-size: 30px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}
.main input{
    font-size: 20px;
    line-height: 1.5em;
    border-radius: 13px;
    padding-left: 10px;
}
.main button
{
    text-decoration: none;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: rgba(60, 50, 61, 0.979);
    color: white;
    margin-left: 90px;
    padding: 7px;
    transition: 0.3s;
    padding-left:20px;
    padding-right: 20px;
}
article button a
{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.main button:hover{
    background-color: black;
}
.centre
{
    display: flex;
    flex-direction: row;
}
.centre .summa
{
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.summa h1{
    font-size: 2.5em;
    line-height: 1.3em;
    color: black;
}







